node_modules/
dist-renderer/
dist/
out/

*.exe
*.dll
*.obj
*.pdb
*.lib
*.exp
*.log

.env
server/.env
server/chat-uploads/
server/downloads/
server/public/speedtest.bin

generate-ringtones.js
upload.py
upload_v2.py
app/src/pjsip/test_in.txt
app/src/pjsip/*.exe
app/src/pjsip/*.obj

package-lock.json
